body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 30px;
}

h1 {
    text-align: center;
}

.filtros {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    background: #333;
    color: white;
}
